body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #00063b;
    text-align: center;
}

.grupo-formulario {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    max-width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 35px; /* Ajuste a altura para os selects */
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    background: rgb(0, 0, 0);
    box-shadow: 0 0 25px rgb(0, 0, 0);
    cursor: pointer;
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0),
                0 0 25px rgb(0, 0, 0),
                0 0 50px rgb(0, 0, 0),
                0 0 100px rgb(0, 0, 0);
}

.hidden {
    display: none;
}

.linha-separacao {
    margin: 20px 0;
}

